nav { background-color: #e3e2df; 
      text-align: center; }

h4 { background-color: #e3e2df; }

.container { background-color: e3e2df; }

main { text-align: center; }

body {
      font-family: Arial, "Helvetica", sans-serif;
      font size: 16px;
      color: cornflowerblue;
      text-align: center; }

footer { text-align: left; }

.paws { background-color: e3e2df; }